extends layout

block content
    .swek
        .col-sl-12
            h1= title
            img(src='/assets/images/player.gif')
            a(href="/login")
              button(class="btn btn-primary") Login

  
