extends layout

block content
    nav(class="navbar navbar-default")
        .container-fluid
            .collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                    li
                        a
                            p Ingelogd als: #{user.nickname}
                     li
                        a(href="logout")
                            p Logout
    .container-fluid
        #wrapper
            .scoreWrapper
                .inner
                    h1 Highscores
                    -var count = 1;
                    each user_score in highscores
                        if count <= 8
                            span= (count++  +". "+ user_score.nickname)
                            br
                            span= user_score.score
                            br

        canvas(id="ctx", width="788", height="523")
        script(src="/assets/js/canvas_functions.js")
        img(src="/assets/images/player1.png", style="display:none;")



