extends layout

block content
    .container-fluid
        #wrapper
            .scoreWrapper
                .inner
                    h1 Highscores
                    span 1.Sascha
        canvas(id="ctx", width="788", height="523")
        img(src="/assets/images/player1.png", style="display:none;")



