$icon-font-path: 	"../fonts" !default;
$icon-font-name: 	"glyphicons-regular" !default;
$icon-font-svg-id:	"glyphicons_regular" !default;

@import '_bootstrap';

html,* {
    padding: 0;
    margin: 0;
}

body{
    padding:0;
    margin:0;
    background: #666762;
    height: 600px;
    display:  flex;
    align-items: center;
    justify-content: center;
}

canvas {
    background-image:url('../images/speelbord.png');
    float:left;
}

.scoreWrapper {
    float:left;
    background-image:url('../images/score.jpg');
    width:200px;
    height:523px;
}
.inner{
    width:160px;
    margin:30px 18px 18px 18px;
    padding:0px;
    height:100%;
}

.inner h1 {
    color:#e1002d;
    font-size:20px;
}
.inner span {
    color:#e1002d;
    font-size:15px;
}

.col-sm-6.col-sm-offset-3 {
    background: grey;
}